<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Who</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
  </head>
  <body>
    <div class="identifier">
      <div class="margin"></div>
      <div class="interface">
        <div class="query-form">
          <input class="query" type="textarea"></input>
          <button type="button" onclick="handleButtonClick()">
            Who?
          </button>
        </div>
        <div class="all-results">
          <div class="result">
            <div>
              <div class="name">
                Lulu Petula
              </div>          
              <div class="intro-text">
                Lulu was the world's most handsome donkey. His fur was as soft as babyskin but as heavy as gold. His singular mode of transportation was prancing, but he always managed to keep it dignified.
              </div>          
            </div>
            <div class="portrait-wrapper">
              <img class="portrait" src="https://i1.sndcdn.com/artworks-000144544913-kzrf5c-t500x500.jpg" />
            </div>
          </div>
          <div class="result">
            <div>
              <div class="name">
                Batface
              </div>          
              <div class="intro-text">
                Batface had a bat for a face.
              </div>          
            </div>
            <div class="portrait-wrapper">
              <img class="portrait" src="http://d1nr5wevwcuzuv.cloudfront.net/product_photos/55299245/IMG_20170905_185053_511_original.jpg" />
            </div>
          </div>
        </div>
        <div class="signature">
          by
          <a href="http://www.lukepersola.com/">Luke Persola</a>
        </div>
      </div>
      <div class="margin"></div>
    </div>
  </body>
</html>
