body {
  background-color: #fdfdfd;
  color: #040404;
  font-family: Tahoma, Geneva, sans-serif;
}

.identifier {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.query-form {
  width: 400px;
  height: 200px;
  margin: auto;
}

.query-form .query {
  display: block;
  margin: auto;
  max-width: 200px;
  word-wrap: break-word;
}

.query-form button {
  display: block;
  margin: auto;
  padding: 4px 10px;
  font-size: 16px;
}

.all-results {
  display: grid;
  grid-row-gap: 20px;
  font-family: Georgia, serif;  
}

.result {
  width: 800px;
  height: 200px;
  background-color: #f0f0d8;
}

.name {
  font-size: 32px;
}

.intro-text {
  font-size: 16px;
}

.portrait-wrapper {
  position: relative;
}

.portrait {
  position: absolute;
  right: 20px;
  width: 100px;
  height: 100px;
}

.signature {
  padding: 40px;
  text-align: center;
  color: #040420;
}

.signature a {
  font-weight: 600;
  text-decoration: none;
  color: #201060;
}

.signature a:hover {
  color: #6010a0;
}
